.h1 {
  font-size: 4.8rem;
  font-weight: 700;
}
.h2 {
  font-size: 4rem;
  font-weight: 700;
}
.h3 {
  font-size: 2rem;
  font-weight: 700;
}
.h3medium {
  font-size: 2.4rem;
  font-weight: 500;
}
.h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
.h5 {
  font-size: 1.8rem;
  font-weight: 700;
}
.p1bold {
  font-size: 1.4rem;
  font-weight: 700;
}
.p1regular {
  font-size: 1.4rem;
  font-weight: 400;
}
.p1medium {
  font-size: 1.4rem;
  font-weight: 500;
}
.p2bold {
  font-size: 1.2rem;
  font-weight: 700;
}
.p2medium {
  font-size: 1.2rem;
  font-weight: 500;
}
.p2regular {
  font-size: 1.2rem;
  font-weight: 400;
}
.p3bold {
  font-size: 1rem;
  font-weight: 700;
}
.gray {
  color: rgba(128, 128, 128, 1);
}
.fadeInOnScroll {
  opacity: 0;
  transition: opacity 1.5s ease-out;
}
.visible {
  opacity: 1;
}
.mobileH3 {
  font-size: 2.4rem;
  font-weight: 700;
}
.tabletH3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.desktopH3 {
  font-size: 4rem;
  font-weight: 700;
}
